<!DOCTYPE >
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app" :class="{clicked : isClicked}">
      <div id="formBackground" >
        <h1 class="title" :class="{white: isWhite}" >{{ title }}</h1>
        <form v-if="isSubmit == false" >
          <input type="text" placeholder="How can I help you ?" />
          <button type="submit" @click.prevent="toggleSubmit">Submit</button>
        </form>
         <p id="answerBox" v-if="isSubmit == true">{{text}}</p>
        <button id="newQuestionButton" v-if="isSubmit == true" @click="askNewQuestion">Ask a new question</button>
        <button class="round-button" @click.prevent=' toggleBackgroundColor'>+</button>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
