<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <p> My name is  {{fullName()}}</p>
      <p> <a :href="url">GoogleIt</a></p>
      <p>{{age}}</p>
      <hr/>
      <label for="">FirstName</label> 
      <input type="text" v-model="firstName">

      <label for = "">MiddleName</label>
      <input type="text" v-model="middleName"  @keyup.enter="updateMiddleName('Last name event triggered', $event)">  
      
      <label for="">LastName</label>
      <input type="text" :value="lastName" @input.prevent="updateLastName('Last name event triggered', $event)">

      <label for = "">Age</label>
      <input type="number"  v-model.number="age">

     <button type="button" @click ="increment">Increment</button>
     <button type="button" @click="age -- ">Decrement</button>
     
    </div>
    <!-- <div id="app1">
      <p> My name is  {{firstName }} {{lastName}}</p>
      
    </div> -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
